<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
  <script src="js/app.js"></script>
	<script src="js/script.js"></script>
  <script src="js/list-component.js"></script>	
  <title>Layout</title>
    <style type="text/css">
    .headerContainer{
          display: flex;
    border: 1px solid grey;
    height: 100%;
    min-height: 50px;
    width: 100%;
    flex-direction: row;
    }

    .items{
      flex-grow: 2;
      margin: 0em 1em;

    }

    .remark{
      flex-grow: 2;
      margin: 0em 1em;
    }

  </style>
</head>
<body class="container-fluid" ng-controller="demoCtrl">

  <div class="container-fluid">
   <div class="row">
  
  <div class="col-lg-3">
    <div class="col-lg-12 panel" style="min-height: 40%">
      
      effffffffffffffffffffffffffffffffffffffffffffffa
    </div>

  </div>

  <div class="col-lg-9">
    <div class="col-lg-12 panel" style="min-height: 40%">
    <div class="row">
      <div class="headerContainer" ng-init="order.showItemn=false;">
        <div class="items">Po number 123</div>
        <div class="items">Deliver Date 08/02/2018 </div>
        <div class="items">Priority High</div>
        <div class="items">Dilevry Location Main</div>
        <div class="items">Port ALY</div>
        <div class="remark"><input type="textbox" name="sad" value="remark"></div>
        <div class="items"><button class="btn btn-primary">Confirm Order </button></div>
        <div class="items" ng-click="order.showItemn=!order.showItemn"> <button>+</button> </div>
          
      </div>
    
    <div class="headerContainer" ng-if="order.showItemn" >
        <table class="table">
         <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
                </thead>
                <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
               <tr> <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
               <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr> 
              </tbody>    
                   </table>


              </div>


  </div>
</div>
</div>
    </div>

  </div>
</body>
</html>